@model DPS_Seletiene.data.AspNetUsers

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Deseas eliminar?</h3>
<div>
    <h4>Para eliminar un usuario, primero elimina su perfil si lo tiene.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
